.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 25px;
    text-align: left ;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 25px;
    text-align: right ;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    text-align: left ;
  }
  
  
  img {
    
    width: 300px; /* Set the maximum width of the image container */
    margin: 0 4px;   /* Center the image horizontally */
  }
  