/* EmployeeForm.css */
 /* body {
  background-image: url("images-1.jpg") 

} */

.employee-form-container {
  max-width: 1000px;
  margin: 100px auto ;
  margin-block-start: 20px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  display: flex; 
} 

.form-group > b {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.employee-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  padding-left: 50px;
}

.form-option-group{
  max-width: 250px;
  max-height: fit-content;
  max-block-size: 100px;
  margin-left: 300px;
  padding-left: 50px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  max-width: 250px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 22px;
}
.side {
  display: flex;
  margin-bottom: 25px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.form-buttons {
  text-align: center;
  margin-top: 20px;
}

.form-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 99, 255);
  color: #fff;
  cursor: pointer;
}

.form-buttons button:hover {
  background-color: black;
}
/* Style for the select dropdown */
.form-group select {
  width: 233px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Style for the dropdown options */
.form-group select option {
  padding: 8px;
}
/* Add more CSS styling as needed */
/* EmployeeForm.css */